* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #B0BC98;
  background-image: url('backdrop.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: 'Lato', sans-serif;
}

a {
 text-decoration: none;
}

header {
  /* background-color: #2f2f2fd1; */
}

.nav-bg {
  background-color: #2f2f2fd1;
}

.navbar-brand {
  font-weight: 900;
  font-size: 1.8em;
}

.red {
  color: #fd4141;
}
.blue {
  color: #5656fa;
}

.nav-link {
  font-size: 1.5rem;
  color: #fff !important;
}

main {
  /* height: 80vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  position: relative;
  height: 90vh;
}

.form {
  background-color: blanchedalmond;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  gap: 10px;
  padding: 25px;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}
